.form {
  display: flex;
  flex-direction: column;
}

.input-row {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-bottom: 10px;
}

.input-row input {
  width: 50px;
  border: 1px solid #cccccc;
  border-radius: 0.2rem;
  padding: 2px 5px;
  background-color: aliceblue;
  color: black;
  margin-left: 10px;
}

.action-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  margin-top: 5px;
}
