.form {
  display: flex;
  flex-direction: column;
}

.input-row {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-bottom: 10px;
}

.input-row input {
  width: 50px;
  margin-left: 10px;
}

.action-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  margin-top: 5px;
}
