.cart-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.15rem solid #8b6056;
  padding: 10px;
}

.item-details {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: bold;
  font-size: 1.2rem;
}

.quantity {
  display: flex;
  align-items: center;
  margin: 10px 0;
  font-size: 0.9rem;
}
.price {
  color: #8b6056;
  font-weight: bold;
  width: 60px;
}
.quantity input {
  width: 45px;
  padding: 5px 10px;
  margin-left: 30px;
  font-size: 0.85rem;
  font-weight: bold;
}

.actions {
  display: flex;
  align-items: center;
}

.actions button {
  margin-right: 10px;
  padding: 3px;
  min-width: 35px;
  width: 35px;
  border-color: #8b6056;
  color: #8b6056;
}

.actions button:last-child {
  margin-right: 0px;
}
