.cart {
  display: flex;
  flex-grow: 1;
  width: 40vw;
  min-width: 400px;
}

.total {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bolder;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  margin-top: 10px;
}

.button {
  border: 1px solid #d0b0a9;
  padding: 5px 20px;
  background-color: transparent;
  color: #802915;
  border-radius: 20px;
  cursor: pointer;
}
.button:hover,
.button.filled:hover {
  background-color: #d0b0a9;
}

.button:active,
.button.filled:active {
  background-color: #ce9082;
}
.button.filled {
  background-color: #802915;
  color: white;
}
.button:disabled,
.button:disabled:hover {
  background-color: gray;
  cursor: default;
}
.actions button {
  margin-right: 10px;
}
.actions button:last-child {
  margin-right: 0;
}

.checkout-success,
.checkout-loader {
  min-width: 400px;
  width: 70vw;
  max-width: 640px;
  min-height: 100px;
}

.checkout-success {
  display: flex;
  flex-direction: column;
}

.success-message {
  display: flex;
  align-items: center;
  align-content: flex-start;
  justify-content: flex-start;
}

.success-actions {
  display: flex;
  flex-direction: row-reverse;
}

.checkout-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-message {
  display: flex;
  align-items: center;
}
